/**
 * Western Region
 */
.logo-western-region-white {
  @include retina-image($filename: 'images/logos/western-region-white', $background-size: contain, $extension: 'png', $retina-suffix: '@2x');
  background-repeat: no-repeat;
  background-size:contain;
  background-position: center center;
  height: 200px;
  width: 326px;
  max-width:100%;
}
@media screen and (max-width:400px) {.logo-western-region-white {height: 150px;}}
@media screen and (max-width:320px) {.logo-western-region-white {height: 100px;}}
